<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Flossy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <%= link_to "See Items", listings_cards_path, class:"nav-link" %>
      </li>
            <li class="nav-item">
        <%= link_to "Listings", listings_path, class:"nav-link" %>
      </li>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link" %>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <%# Search Form %>
        <%= form_with(scope: :search, url: listings_path, method: 'get', local: true) do |f| %>
        <%= f.text_field :title %>
        <%= f.submit 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </form>
    </div>  
  </div>
</nav>